<div class="card bg-light mt-3 mb-3">
    <div class="card-body">
        <p class="text-secondary">@HelpText</p>
        @ChildContent
    </div>
</div>
 
@code {
    [Parameter] public string HelpText { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}