@page "/translations"
@inject TranslationRepository TranslationRepository

<header>
    <h2>Bản dịch</h2>
</header>
<TranslationsList Translations="translations"></TranslationsList>

@code {
    private List<Translation> translations = new List<Translation>();
        
    protected override async Task OnInitializedAsync()
    {
        translations = await TranslationRepository.GetAsync();
    }
}
