@page "/translations"
@inject TranslationRepository TranslationRepository

<header>
    <h2>Translations</h2>
</header>
<TranslationsTable Translations="translations"></TranslationsTable>

@code {
    private List<Translation> translations = new List<Translation>();
        
    protected override async Task OnInitializedAsync()
    {
        translations = await TranslationRepository.GetAsync();
    }
}