@inherits LayoutComponentBase
@inject IOptions<ClientOptions> ClientOptions

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main container p-3">
        @Body
    </div>
</div>
