@page "/wordlist/{Id}"
@inject WordListsRepository WordListsRepository
@inject NavigationManager NavigationManager

<header>
    <h2>@wordList.Title</h2>
    @* <IconTrash FontSize="1.5rem" Clicked="@(() => DeleteWordList(wordList.Id))"/> *@
</header>
<WordListTable WordList="wordList"></WordListTable>

@code {
    [Parameter] public string Id { get; set; }
    private WordList wordList = new WordList();

    protected override async Task OnParametersSetAsync()
    {
        wordList = await WordListsRepository.GetWordListAsync(Id);
    }

    private async Task DeleteWordList(string id)
    {
        await WordListsRepository.DeleteWordListAsync(id);
        NavigationManager.NavigateTo("");
    }
}