@if (WordList.Words.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>Vietnamese</th>
            <th>English</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var word in WordList.Words)
            {
                <tr>
                    <td>@word.Vietnamese</td>
                    <td>@word.English</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ready for some words :)</p>
}

@code {
    [Parameter] public WordList WordList { get; set; }
}